
#CHANGE_ME{
border:solid red 1px;
height: 200px;
width: 100%;
}

#black{
    color: black;
}
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
#money-icon {
    text-align: center;
    color: grey;
}
#time-icon {
    text-align: center;
    color: grey;
}
.you-tube {
    text-align: center;
    margin: 0 auto;
}
#edit-profile {
    text-align: center;
}
#spanCircle {
    display: block;
    height: 30vh;
    width: 30vh;
    line-height: 30vh;
    color: black;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    font-size: 2em;
    margin: 0 auto;
    margin-top: 20vh;
  
}
.spanCircleParrent {
    height: 30vh;
    width: 30vh;
    line-height: 30vh;
    color: black;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    font-size: 2em;
    margin: 0 auto;
    float: left;
    position: relative;
    margin-left: 5%;
    
}
.spanCircleKid1 {
    display: block;
    height: 30vh;
    width: 30vh;
    line-height: 30vh;
    color: black;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    font-size: 2em;
    margin: 0 auto;
}
.spanCircleKid2 {
    display: block;
    height: 30vh;
    width: 30vh;
    line-height: 30vh;
    color: black;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    font-size: 2em;
    margin: 0 auto;
}

.spanCircle2Kid1 {
    height: 30vh;
    width: 30vh;
    line-height: 30vh;
    color: black;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    font-size: 2em;
    float: left;
    position: relative;
    margin-left: 20%;
    
}
.spanCircle2Kid2 {
    height: 30vh;
    width: 30vh;
    line-height: 30vh;
    color: black;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    font-size: 2em;
    float: left;
    position: relative;
    margin-left: 5%;
    
}

.spanCircleKidPurple {

    display: block;
    height: 10vh;
    width: 10vh;
    line-height: 10vh;
    color: black;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    font-size: 1em;
    margin: 0 auto;
    background-color: #7c4dff;
}

.spanCircleKidGreen {
    display: block;
    height: 10vh;
    width: 10vh;
    line-height: 10vh;
    color: black;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    font-size: 1em;
    margin: 0 auto;
    background-color: #00e676;
}
.spanCircleKidBlue {
    display: block;
    height: 10vh;
    width: 10vh;
    line-height: 10vh;
    color: black;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    font-size: 1em;
    margin: 0 auto;
    background-color: #40c4ff;
}
.spanCircleKidYellow {
    display: block;
    height: 10vh;
    width: 10vh;
    line-height: 10vh;
    color: black;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    font-size: 1em;
    margin: 0 auto;
    background-color: #ffee58;
}

#mainslogan{
    margin-top: 10vh;
    text-align: center;
    font-size: 4vh;
}
#homepageKids{
    margin-top: 20vh;
}
.homepageEmptySpace{
    height: 30vh;

}
.statsTopSpacing1{
    margin-top: 3vh;
}
.statsTopSpacing{
    margin-top: 10vh;
}
.statsMiddleSpacing{
    margin-top: 12vh;
}
.statsBottomSpacing{
    height: 15vh;
}
.spanOvalBar{
    display: block;
    border-radius: 15px;
    padding: 15px;
    width: 90%;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}
.spanOvalBar2{
    display: block;
    border-radius: 25px;
    padding: 15px;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    font-size: x-large;
    padding-top: 5vh;
    height: 5vh;
    margin-top: 2vh;
}
#imgController{
    height: 30%;
    width: 30%;
    margin-right: 5vw;    
}
#imgTV{
    height: 45%;
    width: 45%;
    margin: 0 auto;
}
#imgDollar{
    height: 10%;
    width: 10%;
}
#imgMoney{
    height: 40%;
    width: 40%;
    margin: 0 auto;
    margin-right: 8vw;
}
.homeManange{
    margin-top: 45vh;
    text-align: center;
    font-size: 1vw;
}
.pictureSize{
    height: 11vh;
}

h5 {
font-family: Arial, Helvetica, sans-serif;
color: rgb(155, 155, 155);
font-size: 1vw;
}
.SpanOval3 {
    border-radius: 25px;
    margin-left: 10vw;
}
.SpanOval4 {
    border-radius: 25px;
    margin-right: 10vw;
}
.body{
    background-image: url("images/website_main_background.png");
}
.body2{
    background-image: url("http://placekitten.com/500/500");
}
.blackText{
    color: black;
}
.birthdayCake{
    margin-top: 3vh;
}
.birthdayCake1{
    margin-top: 2vh;
}
.birthdayCake3{
    margin-top: 7vh;
}

.range-field{
margin: 0;
}
.searchMargin{
    margin-top: 3vh;
}

.spanOvalBarTitle{
    display: block;
    border-radius: 25px;
    padding: 15px;
    width: 60%;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    margin-top: 5vh;
}
#imgPig{
    display: block;
    height: 45%;
    width: 45%;
    margin: 0 auto;
    margin-top: 16vh;
}
.websiteName{
    margin-left: 2vw;
}
.figureSize{
    width: 60%;
    margin: 0 auto;
    display: block;
}
.figureSize1{
    width: 22%;
    margin: 0 auto;
    display: block;
}
.figureSize2{
    width: 35%;
    margin: 0 auto;
    display: block;
}
.noPadding{
    padding: 0;
}
.circleMargin{
    margin-top: 10vh;
}


#player {
    margin-bottom: 10vh;
}
.container {
    background: rgba(250, 250, 250, 0.8);
    color: white;
}

.edit-button {
    padding-right: 3vh;
}
p {
    color: black;
}
.kid-background-image {
    padding-bottom: 4vh;
}

