
#black{
    color: black;
}
#transparentBG{
    background: rgba(0,0,0,0);
  }

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
    
#money-icon {
    text-align: center;
    color: grey;
}
#time-icon {
    text-align: center;
    color: grey;
}
.you-tube {
    text-align: center;
    margin: 0 auto;
}
#edit-profile {
    text-align: center;
}