#CHANGE_ME{
border:solid red 1px;
height: 200px;
width: 100%;
}

#black{
    color: black;
}
#transparentBG{
    background: rgba(0,0,0,0);
  }

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

    
#money-icon {
    text-align: center;
    color: grey;
}
#time-icon {
    text-align: center;
    color: grey;
}
.you-tube {
    text-align: center;
    margin: 0 auto;
}


#spanCircle {
    display: block;
    height: 30vh;
    width: 30vh;
    line-height: 30vh;
    color: black;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    font-size: 2em;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20vh;
}
.spanCircleParrent {
    display: block;
    height: 30vh;
    width: 30vh;
    line-height: 30vh;
    color: black;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    font-size: 2em;
    margin: 0 auto;
}
.spanCircleKid1 {
    display: block;
    height: 30vh;
    width: 30vh;
    line-height: 30vh;
    color: black;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    font-size: 2em;
    margin: 0 auto;
}
.spanCircleKid2 {
    display: block;
    height: 30vh;
    width: 30vh;
    line-height: 30vh;
    color: black;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    font-size: 2em;
    margin: 0 auto;
}

#mainslogan{
    margin-top: 15vh;
    text-align: center;
}
#homepageKids{
    margin-top: 40vh;
}
.homepageEmptySpace{
    height: 30vh;
}
.statsTopSpacing{
    margin-top: 10vh;
}
.statsMiddleSpacing{
    margin-top: 12vh;
}
.statsBottomSpacing{
    height: 15vh;
}
.spanOvalBar{
    display: block;
    border-radius: 25px;
    padding: 15px;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10vh;
    text-align: center;
}
